<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Skol</title>
        <link rel="stylesheet" href="/production/css/reset.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/production/css/index.css" media="screen" charset="utf-8">
    </head>
    <body>
        <div id="left-menu"></div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/production/js/lib/external/jQuery.js" charset="utf-8"></script>
    <script src="/production/js/lib/external/three.js" charset="utf-8"></script>
    <script src="/production/js/lib/external/orbit.js" charset="utf-8"></script>
    <script src="/production/js/lib/external/css3d.js" charset="utf-8"></script>
    <script src="/production/js/lib/internal/Notifications.js" charset="utf-8"></script>
    <script src="/production/js/lib/external/dat.gui.js" charset="utf-8"></script>
    <script src="/production/js/lib/internal/Global.js" charset="utf-8"></script>
    <script src="/production/js/lib/instances/Alphabet.js" charset="utf-8"></script>
    <script src="/production/js/lib/instances/Colors.js" charset="utf-8"></script>
    <script src="/production/js/lib/instances/Motors.js" charset="utf-8"></script>
    <script src="/production/js/lib/instances/Ambient.js" charset="utf-8"></script>
    <script src="/production/js/lib/instances/Wall.js" charset="utf-8"></script>
    <script src="/production/js/lib/internal/Menu.js" charset="utf-8"></script>
    <script src="/production/js/lib/internal/LeftMenu.js" charset="utf-8"></script>
    <script src="/production/js/init.js" charset="utf-8"></script>
</html>
