.top, .left, .right, .front {
    border: 1px solid #000000;
}
.floor {
    border: 1px solid #000000;
    background: url(http://textureshot.com/textures/Concrete/Rough/ConcreteRough_0002_01_M_T.jpg);
    background-size: 60px 60px;
}
.block {
    position: relative;
    float: left;
    overflow: hidden;
}
.block .hole {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-radius: 100%;
    z-index: 1;
}
.block .circle {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: #000000;
    border-radius: 100%;
    transition: 2.5s linear;
    z-index: 2;
    overflow: hidden;
}
.block .circle .mirror {
    width: 100%;
    height: 100%;
    transition: opacity 0s linear 1.25s;
    opacity: 0;
    background: #abbaab !important;
    background: -webkit-linear-gradient(to left, #abbaab, #ffffff) !important;
    background: linear-gradient(to left, #abbaab, #ffffff) !important;
    position: relative;
}
.block .circle .mirror .line {
    width: 100%;
    position: absolute;
    height: 2px;
    background: #aaaaaa;
    top: 50%;
    margin-top: -1px;
}
.block.flip .circle {
    transition: 2.5s linear;
    transform: rotateX(180deg);
}
.block.flip .circle .mirror {
    transition: opacity 0s linear 1.25s;
    opacity: 1;
}
